<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个指定的Dao/Mapper接口-->
<mapper namespace="com.work.pinkweb.HR.Mapper.UserMapper">
    <resultMap id="UserEntityMap" type="com.work.pinkweb.Entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result property="avatar" column="avatar"/>
    </resultMap>

    <update id="updateAvatarById"  parameterType="com.work.pinkweb.Entity.User">
        update user SET avatar=#{avatar}
        where id=#{uid}
    </update>
    <select id="getUserById" resultMap="UserEntityMap">
        select * from user where id=#{id}
    </select>




</mapper>