.reg-back {
  height: 389px;
  box-shadow:10px 20px 20px #ededf2;
}
.form-body {
  margin-top: 30px;
  padding: 0 30px;
}
.info h2 {
  font-size: 18px;
}
.el-input {
  margin-top: 30px;
}
.el-button {
  float: right;
  width: 100%;
}
