/*顶部导航栏*/
.header {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
}
/*主体*/
.main {
  margin-top: 60px;
}
.route {
  background-color: #f6f6f8;
}
.avatar {
  border-radius: 50%;
  width: 35px;
}
