<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个指定的Dao/Mapper接口-->
<mapper namespace="com.work.pinkweb.Company.Mapper.CoCompanyHrMapper">
    <resultMap id="CompanyHrEntityMap" type="com.work.pinkweb.Entity.CompanyHr">
        <id property="ehr_id" column="ehr_id" jdbcType="BIGINT" />
        <result property="enterprise_id" column="enterprise_id"/>
        <result property="ehr_applyaccount" column="ehr_applyaccount"/>
        <result property="ehr_currentaccount" column="ehr_currentaccount"/>
        <result property="ehr_collect" column="ehr_collect"/>
        <result property="ehr_vipauthority" column="ehr_vipauthority"/>
        <result property="ehr_jobnum" column="ehr_jobnum"/>
        <result property="ehr_vx" column="ehr_vx"/>
        <result property="ehr_position" column="ehr_position"/>
        <result property="is_delete" column="is_delete"/>
        <association property="user" javaType="com.work.pinkweb.Entity.User">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
            <result property="created_time" column="created_time"/>
        </association>
    </resultMap>

    <delete id="deleteOneHr" >
      delete from enterprise_hr where ehr_id=#{ehr_id}

    </delete>
    <insert id="insertOneHr">
        insert into enterprise_hr (ehr_id,enterprise_id,ehr_position,ehr_jobnum)values (#{ehr_id},#{enterprise_id},#{ehr_position},#{ehr_jobnum})
    </insert>

</mapper>